.u-section-1 .u-sheet-1 {
  min-height: 971px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  width: 719px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 795px;
  margin: 28px auto 0;
}

.u-section-1 .u-line-1 {
  height: 6px;
  transform-origin: left center 0px;
  width: 795px;
  margin: 32px auto 0;
}

.u-section-1 .u-image-1 {
  width: 256px;
  height: 256px;
  margin: 79px auto 0 269px;
}

.u-section-1 .u-image-2 {
  width: 256px;
  height: 256px;
  margin: -256px auto 0 615px;
}

.u-section-1 .u-text-3 {
  margin: 7px 552px 0 211px;
}

.u-section-1 .u-text-4 {
  margin: -28px 208px 60px 554px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    margin-right: 452px;
    margin-left: 111px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 108px;
    margin-left: 454px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 464px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 342px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 342px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 284px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 163px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 162px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 84px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 84px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}